<section class="wd-body-lobby text-center">
  <h1 class="mtb30-tc"><strong>Recent Items</strong></h1>
  <section class="wd-review-summary flexbox">
    <div class="fixed-flexbox" style="background-color: #FBD881; color: black;"></div>
    <div class="fixed-flexbox" style="background-color: #FBD881; color: black;">
      
    </div>
    <div class="fixed-flexbox" style="background-color: #FBD881; color: black;"></div>
  </section>
  <h1 class="mtb30-tc"><strong>Innovations</strong></h1>
  <section class="wd-innovations-summary flexbox content-center">
      <h3 class="wd-innovations-heading text-center">This is the section where you'll see the new innovations in technologies.</h3>
  </section>
</section>