/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-border-radius: 3px !default;
@import "../../../lib/assets/hamburgers.scss";

body {
	font-family: 'Quicksand', sans-serif;
	margin: 93px 0px 0px 0px;
	padding: 0;
	font-weight: 200;
	background-color: white;
	color: black;
}

header {
	z-index: 1;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #f2f2f2;
}

main {
	overflow: hidden;
}
